<h1>All Current Users:</h1>
<ul>
<% @users.each do |user| %>
    <li>
        <a href="/users/<%= user.id %>"><%= user.username %></a>
    </li>
<% end %>
</ul>
<% if logged_in? %>
<a href="/users/<%= current_user.id %>">Home</a>
<br>
<a href="/users/logout">Logout</a>
<% else %> 
<a href="/">Songwriter's Friend Home</a>
<% end %>

