<h1>Sign Up for Songwriter's Friend</h1>
<br>
<form action="/users/signup" method="post">

    <p>Username: <input type="text" name="username" id="username"></p>
    <p>Email: <input type="email" name="email" id="email"></p>
    <p>Password: <input type="password" name="password" id="password"></p>
    <br>
    <input type="submit" id="submit" value="Sign Up">

</form>
<br>
<a href="/">Home</a>